name: Deploy site to GitHub Pages

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Deploy to gh-pages branch
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: gh-pages # The branch the action will deploy to.
          folder: ./       # Folder or file to deploy (root)
          token: ${{ secrets.GITHUB_TOKEN }}
